<nav>
    <%= link_to 'ingresos', ingresos_path %>
    <%= link_to 'egresos', egresos_path %>
    <%= link_to 'empleados', empleados_path %>
    <%= link_to 'proveedores', proveedors_path %>
    <%= link_to 'clientes', clientes_path %>
</nav>